<!doctype html>
<title>WordSearcher</title>
<h1>Choose up to 15 words</h1>
<form method="POST" action="/custom">
  <p>
    <label>
      Title
    </label>
    <br />
    <input type="text" name="title" maxlength="25" />
  </p>
  {% for i in range(15) %}
    <div>
      <label style="width: 20px; display: inline-block;" for="i{{ loop.index }}">
        {{ loop.index }}.
      </label>
      <input type="text" name="{{ loop.index }}" maxlength="10" />
    </div>
  {% endfor %}
  <p>
    <button type="submit">Create</button>
  </p>
</form>